<ul class="users">
  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= link_to @user.email, "maito:#{@user.email}", :target => "_blank" %>
  </li>

  <li>
    <strong>City of Birth:</strong>
    <%= @user.city_of_birth %>
  </li>

  <li>
    <strong>Year of Birth:</strong>
    <%= @user.year_of_birth %>
  </li>

  <li>
    <strong>Reputation:</strong>
    <%= @user.reputation_score %>
  </li>

  <li>
    <strong>Current Login:</strong>
    <%= time_ago_in_words(@user.last_login_at) %> ago
  </li>

  <li>
    <strong>Last Login:</strong>
    <%= time_ago_in_words(@user.penultimate_login_at) %> ago
  </li>
  <li>
    <strong>Genres Liked:</strong>
    <ul>
      <% @user.likes_genres.each do |genre| %>
        <li>
          <%= genre %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
