<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    Following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    Followers
  </a>
  <a href="<%= concerts_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.concerts.count %>
    </strong>
    Concerts
  </a>
  <a href="<%= favorite_bands_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.favorite_bands.count %>
    </strong>
    Favorite Bands
  </a>
</div>