<li>
  <%= gravatar_for user, size: 50 %>
  <span class="user"><%= link_to user.name, user %></span>
  <% if user_or_band == "User" %>
	  <% if current_user.is_admin? && !current_user?(user) %>
	    | <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %>
	  <% end %>
  <% end %>
  <span class="content">Reputation Score: <%= user.reputation_score %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(user.created_at) %> ago
  </span>
</li>
