<% provide(:title, 'User Sign Up') %>
<h1>User Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/user_error_messages' %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :city_of_birth %>
      <%= f.text_field :city_of_birth, class: 'form-control' %>

      <%= f.label :year_of_birth %>
      <%= f.text_field :year_of_birth, class: 'form-control' %>

      <div class="field">
        <%= f.label :genre_ids, "Genres Liked" %><br />
        <%= f.collection_select :genre_ids, Genre.order(:subgenre), :id, :subgenre, {}, { multiple: true } %>
      </div>

      

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>

    <br>

    <p>Already have an account? <%= link_to "Log in now!", user_login_path %></p>
    
    <p>Are you a band? <%= link_to "Band Sign Up", band_signup_path %></p>
  </div>
</div>