<% provide(:title, 'New Concert') %>
<h1>New Concert</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@concert) do |f| %>
      <%= render 'shared/concert_error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', rows: 7 %>

      <%= f.label :buy_tickets_website %>
      <%= f.text_field :buy_tickets_website, class: 'form-control' %>

      <%= f.label :cdatetime, "Date and Time" %>
      <%= f.datetime_select :cdatetime, class: 'form-control' %>

      <%= f.label :location_name %>
      <%= f.text_field :location_name, class: 'form-control' %>

      <%= f.label :ccity, "City" %>
      <%= f.text_field :ccity, class: 'form-control' %>

		  <div class="field">
				<%= f.label :band_ids, "Lineup" %><br />
  			<%= f.collection_select :band_ids, Band.order(:name), :id, :name, {}, { multiple: true } %>
			</div>
	   
      <div class="field">
      <strong>VIP Tickets</strong>
        <br><em>How many: </em><%= f.select :vip_tickets_how_many_left, options_for_select(range_arr(1000)), class: 'form-control' %>
        <em>Price: </em><%= f.select :vip_tickets_price, options_for_select(range_arr(1000)), class: 'form-control' %>
      </div>
          
      <div class="field">
        <strong>Confort Tickets</strong>
        <br><em>How many: </em><%= f.select :confort_how_many_left, options_for_select(range_arr(1000)), class: 'form-control' %>
        <em>Price: </em><%= f.select :confort_price, options_for_select(range_arr(1000)), class: 'form-control' %>
      </div>

      <div class="field">
        <strong>Pavillion Tickets</strong>
        <br><em>How many: </em><%= f.select :pavillion_tickets_how_many_left, options_for_select(range_arr(1000)), class: 'form-control' %>
        <em>Price: </em><%= f.select :pavillion_tickets_price, options_for_select(range_arr(1000)), class: 'form-control' %>
      </div>

      <div class="field">
        <strong>Front Row Tickets</strong>
        <br><em>How many: </em><%= f.select :front_row_tickets_how_many_left, options_for_select(range_arr(1000)), class: 'form-control' %>
        <em>Price: </em><%= f.select :front_row_tickets_price, options_for_select(range_arr(1000)), class: 'form-control' %>
      </div>

      <div class="field">
        <strong>Lounge Tickets</strong>
        <br><em>How many: </em><%= f.select :lounge_tickets_how_many_left, options_for_select(range_arr(1000)), class: 'form-control' %>
        <em>Price: </em><%= f.select :lounge_tickets_price, options_for_select(range_arr(1000)), class: 'form-control' %>
      </div>

      <%= f.submit "Create concert", class: "btn btn-primary" %>
    <% end %>

    <br>

    <%= link_to "Show all concerts", concerts_path %>
  </div>
</div>