<% provide(:title, @concert.title) %>
<h1><%= @concert.title %></h1>

<%= render 'concert_goings_form' if logged_in? && user_or_band == "User" %>

<ul class="users">
  <li>
    <strong>Description:</strong>
    <%= @concert.description %>
  </li>
  <% unless average_rating.nan? %>
    <li>
      <strong>Average Rating:</strong>
      <%= average_rating %>
    </li>
  <% end %>
  <li>
    <strong>Buy Tickets:</strong>
    <%= link_to @concert.buy_tickets_website, url_with_protocol(@concert.buy_tickets_website), :target => "_blank" %>
  </li>
  <li>
    <strong>Location:</strong>
    <%= @concert.location_name %>
  </li>
  <li>
    <strong>Date and Time:</strong>
    <%= @concert.cdatetime.to_formatted_s(:long_ordinal) %>
  </li>

  <li>
    <strong>Lineup:</strong>
    <ul>
      <% @concert.bands_playing.each do |band| %>
        <li>
          <%=link_to band.name, band %>
        </li>
      <% end %>
    </ul>
  </li>

  <li>
    <strong>Genres Played:</strong>
    <ul>
      <% @concert.genres_played.each do |genre| %>
        <li>
          <%= genre %>
        </li>
      <% end %>
    </ul>
  </li>
  <% if any_reviews? %>
    <li>
      <strong>User Reviews:</strong>
      <ul>
        <% @concert.concert_goings.each do |rsvp| %>
          <% if rsvp.review || rsvp.rating %>
            <li>
              <ul>
                <% if rsvp.rating %>
                  <li>
                    <strong>Rating:</strong>
                    <%= rsvp.rating %>
                  </li>
                <% end %>
                <% if rsvp.review %>
                  <li>
                    <strong>Review:</strong>
                    <%= rsvp.review %>
                  </li>
                <% end %>
                <li>
                  <strong>Reviewer:</strong>
                  <%= link_to rsvp.goer.name, rsvp.goer %>
                </li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>

  <%= render 'concert_review_form' if logged_in? && user_or_band == "User" %>

  <br>

  <li>
    <%= link_to "Show all concerts", concerts_path %>
  </li>
</ul>
