<% provide(:title, @concert.title) %>
<h1><%= @concert.title %></h1>

<%= render 'concert_goings_form' if logged_in? && user_or_band == "User" %>

<ul class="users">
  <li>
    <strong>Description:</strong>
    <%= @concert.description %>
  </li>
  <li>
    <strong>Buy Tickets:</strong>
    <%= link_to @concert.buy_tickets_website, url_with_protocol(@concert.buy_tickets_website), :target => "_blank" %>
  </li>
  <li>
    <strong>Location:</strong>
    <%= @concert.location_name %>
  </li>
  <li>
    <strong>Date and Time:</strong>
    <%= @concert.cdatetime.to_formatted_s(:long_ordinal) %>
  </li>

  <li>
    <strong>Lineup:</strong>
    <ul>
      <% @concert.bands_playing.each do |band| %>
        <li>
          <%= band.name %>
        </li>
      <% end %>
    </ul>
  </li>

  <li>
    <strong>Genres Played:</strong>
    <ul>
      <% @concert.genres_played.each do |genre| %>
        <li>
          <%= genre %>
        </li>
      <% end %>
    </ul>
  </li>

  <%= render 'concert_review_form' if logged_in? && user_or_band == "User" %>

  <br>

  <li>
    <%= link_to "Show all concerts", concerts_path %>
  </li>
</ul>
