<li id="micropost-<%= band.id %>">
	<%= link_to gravatar_for(band, size: 50), band %>
	<span class="user"><%= link_to band.name, band %>
		<% if user_or_band == "User" %>
			<% if current_user.is_admin? && !current_band?(band) %>
				| <%= link_to "Delete", band, method: :delete, data: { confirm: "You sure?" } %>
			<% end %>
		<% end %>
	</span>
	<span class="content"><%= band.bio %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(band.created_at) %> ago
  </span>
</li>