<ul class="users">
  <li>
    <strong>Bandname:</strong>
    <%= @band.bandname %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @band.name %>
  </li>

  <li>
    <strong>Bio:</strong>
    <%= @band.bio %>
  </li>

  <li>
    <strong>Website:</strong>
    <%= @band.website %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @band.email %>
  </li>
  <li>
    <strong>Genres Played:</strong>
    <ul>
      <% @band.plays_genres.each do |genre| %>
        <li>
          <%= genre %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>