<p id="notice"><%= notice %></p>

<p>
  <strong>Bandname:</strong>
  <%= @band.bandname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @band.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @band.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @band.email %>
</p>

<p>
  <strong>Identity confirmed?:</strong>
  <%= @band.identity_confirmed? %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
