<% provide(:title, @band.name) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'bands/gravatar' %>
      </section>
      <section class="stats">
        <%= render 'bands/stats' %>
      </section>
      <section>
        <%= render 'bands/profile' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'become_fan_form' if logged_in? && user_or_band == "User" %>
      <%= render 'users/feed' %>
    </div>
  </div>
<% else %>
  <script type="text/javascript">
    window.location.href="/user_login"  // put your correct path in a string here
  </script>
<% end %>