<% provide(:title, @band.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="band_info">
      <h1>
        <%= gravatar_for @band %>
        <%= @band.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Bandname:</strong>
  <%= @band.bandname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @band.bio %>
</p>

<p>
  <strong>Website:</strong>
  <%= @band.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @band.email %>
</p>
