<ul class="users">
	<li>
  	<strong>Title:</strong>
  	<%= @concert.title %>
  </li>
  <li>
	  <strong>Description:</strong>
	  <%= @concert.description %>
  </li>
  <li>
	  <strong>Buy Tickets:</strong>
	  <%= link_to concert.buy_tickets_website, "#{concert.buy_tickets_website}", :target => "_blank" %>
  </li>
  <li>
	  <strong>Location:</strong>
	  <%= @concert.location_name %>
  </li>
  <li>
	  <strong>Date and Time:</strong>
	  <%= @concert.cdatetime.to_formatted_s(:long_ordinal) %>
  </li>
</ul>

<%= link_to 'Back', concert_path %>
