<% provide(:title, @concert_list.title) %>
<h1><%= @concert_list.title %></h1>

<ul class="users">
  <li>
    <strong>Title:</strong>
    <%= @concert_list.title %>
  </li>
  <li>
    <strong>Description:</strong>
    <%= @concert_list.description %>
  </li>
  <li>
    <strong>List Owner:</strong>
    <%= link_to @concert_list.list_owner.name, @concert_list.list_owner %>
  </li>
  <li>
    <strong>Concerts:</strong>
    <ul>
      <% @concert_list.concerts.each do |concert| %>
        <li>
          <%=link_to concert.title, concert %>
        </li>
      <% end %>
    </ul>
  </li>
  
  <br>

  <li>
    <%= link_to "Show all concert lists", concert_lists_path %>
  </li>
</ul>
