<ul class="users">
	<li>
  	<strong>Title:</strong>
  	<%= @concert_list.title %>
  </li>
  <li>
	  <strong>Description:</strong>
	  <%= @concert_list.description %>
  </li>
  <li>
	  <strong>List Owner:</strong>
	  <%= link_to @concert_list.list_owner.name, @concert_list.list_owner %>
  </li>
  <li>
	  <strong>Location:</strong>
	  <%= @concert.location_name %>
  </li>
  <li>
	  <strong>Date and Time:</strong>
	  <%= @concert.cdatetime.to_formatted_s(:long_ordinal) %>
  </li>
</ul>

<%= link_to 'Back', concert_path %>
