<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "LiveJive", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <%= render 'layouts/bands_header' %>
          <%= render 'layouts/concerts_header' %>
          <%= render 'layouts/profile_header' %>
        <% else %>
          <li><%= link_to "Log in", user_login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>